<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable" content="yes")
		title demo: #{demoName}
		style.
			html, body {
				margin: 0;
				padding: 0;
				border: none;
				background: transparent;
				overflow: hidden;
			}
			#container {
				position: absolute;
				left: 0;
				top: 0;
				width: 100vw;
				height: 100vh;
			}

	body

		.info

		#container

		script(type="text/javascript" src="/static/" + demoName + ".demo.js" + ran)
